<img class="smart-matching-button" src="./../assets/regist/smartmatching_off.png">
<nav class="regist-text-frame">
  <img class="top-dark-line" src="./../assets/regist/top_dark_line.png">
  <div class=regist-text-title>회원가입</div>
</nav>
<nav class="icon-frame">
  <img class="company-icon" src="./../assets/regist/company_icon.png">
  <img class="person-icon" src="./../assets/regist/person_icon.png">
</nav>
<nav class="join-button-frame">
  <img class="join-company-button" src="./../assets/regist/join_company_button.png">
  <img class="join-personal-button" src="./../assets/regist/join_personal_button.png">
</nav>
