<div class="ma-right-frame">
  <img class="smart-matching-button" src="./../assets/regist/smartmatching_off.png">
  <div class="topics-frame">
    <div class="topics-text">인기검색어</div>
    <div class="topics-list-frame">
      <img class= "ranking-box" src="./../assets/regist/ranking_box.png">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;인기검색어
      <br>
      <img class= "ranking-box" src="./../assets/regist/ranking_box.png">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;인기검색어
      <br>
      <img class= "ranking-box" src="./../assets/regist/ranking_box.png">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;인기검색어
      <br>
      <img class= "ranking-box" src="./../assets/regist/ranking_box.png">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;인기검색어
      <br>
      <img class= "ranking-box" src="./../assets/regist/ranking_box.png">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;인기검색어
      <br>
      <img class= "ranking-box" src="./../assets/regist/ranking_box.png">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;인기검색어
      <br>
      <img class= "ranking-box" src="./../assets/regist/ranking_box.png">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;인기검색어
      <br>
      <img class= "ranking-box" src="./../assets/regist/ranking_box.png">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;인기검색어
      <br>
      <img class= "ranking-box" src="./../assets/regist/ranking_box.png">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;인기검색어
      <br>
      <img class= "ranking-box" src="./../assets/regist/ranking_box.png">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;인기검색어
    </div>
  </div>
</div>
<nav class="regist-text-frame">
  <img class="top-dark-line" src="./../assets/regist/top_dark_line.png">
  <div class=regist-text-title>회원가입</div>
</nav>
<nav class="icon-frame">
  <img class="company-icon" src="./../assets/regist/company_icon.png">
  <img class="person-icon" src="./../assets/regist/person_icon.png">
</nav>
<nav class="join-button-frame">
  <img class="join-company-button" src="./../assets/regist/join_company_button.png">
  <img class="join-personal-button" src="./../assets/regist/join_personal_button.png">
</nav>
