<footer class = "ma-footer-frame">
  <div class = "ma-footer-inner-frame">
    <nav class = "ma-footer-text-frame">
      <img src="./../assets/web_image/win3win_logo.png"/>
      <div class = "ma-footer-list-div">
        <ul class = "ma-footer-list">
          <li class = "ma-footer-menu">{{win3win_info}}</li>
          <li class = "ma-footer-menu">{{blog}}</li>
          <li class = "ma-footer-menu">{{article}}</li>
          <li class = "ma-footer-menu">{{api}}</li>
          <li class = "ma-footer-menu">{{employ_info}}</li>
          <li class = "ma-footer-menu">{{privacy_policy}}</li>
          <li class = "ma-footer-menu">{{terms}}</li>
          <li class = "ma-footer-menu">{{directory}}</li>
          <li class = "ma-footer-menu">{{language}}</li>
          <li class = "ma-footer-company">{{company}}</li>
        </ul>
      </div>
    </nav>
  </div>
</footer>
